<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Management Interface</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- History Tracker-->
<div th:replace="~{/fragments/HistoryTracker :: historyTracker}"></div>

<!-- Folder Structure -->
<div th:replace="~{/fragments/FolderStructure :: folderName}"></div>

<table>
    <tr th:replace="~{/fragments/FolderStructure :: folders}"></tr>

    <tr th:replace="~{/fragments/FolderStructure :: files}"></tr>
</table>

<!-- Add buttons -->
<div class="add-button">
    <div th:replace="~{/fragments/AddButtons :: addFolder}"></div>
    <input id="fileName" type="text" placeholder="New File">
    <div id="dropArea" class="drop-box">
        Drag and drop file here
    </div>
</div>

<script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>

</body>
</html>