<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Management Interface</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<!-- History Tracker-->
<div th:replace="~{/fragments/HistoryTracker :: historyTracker}"></div>

<!-- Folder Structure -->
<div th:replace="~{/fragments/FolderStructure :: folderName}"></div>

<table>
    <!-- Folders -->
    <tr class="folder-row" th:each="folder : ${rootFolder.getFolders()}">
        <th>
            <div th:if="${folder.getFolderId() == folderToRename}">
                <form id="rename_form" th:action="@{__${requestURI}__}" method="post">
                    <input class="file-name" type="text" th:value="${newFolderName}" name="newFolderName" th:placeholder="${folder.getName()}" >
                </form>
            </div>
            <div th:unless="${folder.getFolderId() == folderToRename}">
                <a href="#" th:href="@{/folder/{id}(id=${folder.getFolderId()})}" th:text="${folder.getName()}">
                    Folder name </a>
            </div>
        </th>
        <th>
            <div th:if="${folder.getFolderId() == folderToRename}">
                <button onclick="renameFolder()"> Rename</button>
            </div>

            <div th:unless="${folder.getFolderId() == folderToRename}">
                <form method="get" th:action="@{/folder/{folderId}/rename/{folderToRename}
             (folderId = ${rootFolder.getFolderId()}, folderToRename = ${folder.getFolderId()})}">
                    <button> Rename</button>
                </form>
            </div>
        </th>
        <th>
            <form method="get" th:action="@{/folder/{id}/delete/{folderToDeleteId}
                    (id = ${rootFolder.getFolderId()}, folderToDeleteId = ${folder.getFolderId()})}">
                <button> Delete</button>
            </form>
        </th>
    </tr>
    <!-- Files -->
    <tr th:replace="~{/fragments/FolderStructure :: files}"></tr>
</table>

<!-- Add buttons -->
<div class="add-button">
    <div th:replace="~{/fragments/AddButtons :: addFolder}"></div>
    <div th:replace="~{/fragments/AddButtons :: addFile}"></div>
</div>

<script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>

</body>
</html>