<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

  <div class="add-button">
    <form th:fragment="addFolder" th:action="@{/folder/{id}/new (id=${rootFolder.getFolderId()})}" method="get">
      <button>Add folder</button>
    </form>
    <form th:fragment="addFile" th:action="@{/folder/{id}/file/upload (id=${rootFolder.getFolderId()})}" method="get">
      <button>Add file</button>
    </form>
  </div>

</body>
</html>